.path-privacy-documents .breadcrumb .breadcrumb-item {
  display: none;
}

.path-privacy-documents .breadcrumb {
  background-color: transparent;
  background-image: url(/gmp/web/modules/custom/inv_serial_tracker/img/header-banner.jpg);
  height: 43px;
  background-size: cover;
  border-radius: 0;
}

#map-canvas {
  width: 100%;
  height: 500px;
}

.path-privacy-documents .region-content {
  padding: 0;
}

.document-area {
  border-top: 1.5px solid #333333;
  border-bottom: 1.5px solid #333333;
  background: hsla(0,0%,100%,0.9);
  color: #1cabe6;
  z-index: 55;
  overflow-y: auto;
}
.document-overlay {
  overflow-y: auto;
  height: 481px;
}

.document-overlay::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.document-overlay::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
.document-overlay::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

/* Handle on hover */
.document-overlay::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
.center-text {
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.document-area::-webkit-scrollbar {
  width: 1em;
}

.document-area::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.document-area::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.wm-spinner {
	width: 120%;
	height: 120%;
	position: fixed;
	z-index: 9999;
	left: 46%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 44%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff
}

.wm-spinner div {
	-webkit-transform-origin: 40px 40px;
	transform-origin: 40px 40px;
	-webkit-animation: lds-spinner 1.2s linear infinite;
	animation: lds-spinner 1.2s linear infinite
}

.wm-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #00539F;
}

.wm-spinner div:nth-child(1) {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s
}

.wm-spinner div:nth-child(2) {
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-animation-delay: -1s;
	animation-delay: -1s
}

.wm-spinner div:nth-child(3) {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s
}

.wm-spinner div:nth-child(4) {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s
}

.wm-spinner div:nth-child(5) {
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s
}

.wm-spinner div:nth-child(6) {
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg);
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s
}

.wm-spinner div:nth-child(7) {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s
}

.wm-spinner div:nth-child(8) {
	-webkit-transform: rotate(210deg);
	transform: rotate(210deg);
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s
}

.wm-spinner div:nth-child(9) {
	-webkit-transform: rotate(240deg);
	transform: rotate(240deg);
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s
}

.wm-spinner div:nth-child(10) {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s
}

.wm-spinner div:nth-child(11) {
	-webkit-transform: rotate(300deg);
	transform: rotate(300deg);
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s
}

.wm-spinner div:nth-child(12) {
	-webkit-transform: rotate(330deg);
	transform: rotate(330deg);
	-webkit-animation-delay: 0s;
	animation-delay: 0s
}

.same-div-wrap:hover {
    color: white !important;
    background: #145c9e !important;
}
.same-div-wrap:hover .same-div-first i {
    color: white !important;
    background: #145c9e !important;
}
@-webkit-keyframes lds-spinner {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes lds-spinner {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

