{{ attach_library("privacy_docs_world_map/privacy_documents") }}
<div class="container-fluid px-0 mb-4">
    <div class="serach-section-wrapper m-0 row px-0">
       <div id="map-canvas" class=" col-lg-9"></div> 
       <div id="documents-area" class="document-area p-lg-2 px-md-4 px-3 center-text col-lg-3">
            <div class=" document-overlay">
                <div id="privacy-document-data" class="result-area ">{{ world_map_default_text }}</div>  
            </div>
        </div>
    </div>
</div>
